@charset "UTF-8";

.card-item{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 35rem;
    padding: 1rem ;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    h2{
        font-size: 1.5rem;
    }
}
.sale{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    border-radius: 0 0 0 1rem;
    background-color: red;
    color: white;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 1rem;
}
.card-description{
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  margin: 1rem 0;
}
.card-price{
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 1rem;
  color:#2E3D16;
  ;
}
.image-container{
  width: 100%;
  height: 80%;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}